.about-container {
    height: 100vh; 
    background-image: url('../pages/background1.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; 
  }
  
  .about-content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    margin-top: 50px; 
  }
  
  .highlight {
    font-size: 24px;
    font-weight: bold;
  }
  
  .link {
    color: #0077B5; 
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline; 
  }
  