.tasks-container {
    position: relative;
    height: 82.3vh; 
    margin: 0;
    padding: 0;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-image: url('../pages/background1.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: 0; 
}

.tasks-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pages/background1.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -1;
    pointer-events: none; 
}

.tasks-content {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    position: relative; 
    pointer-events: auto; 
}

.resize-horizontal-and-vertical {
    resize: both;
  }