
.bg-dark.text-white {
    background-color: #343a40; 
    color: #ffffff; 
  }
  
  .py-2 {
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
  }
  
  .mt-auto {
    margin-top: auto; 
  }
  
 
  a {
    color: red; 
    margin-right: 5px; 
    margin-left: 5px; 
    text-decoration: none; 
  }
  
  a:hover {
    color: #ff0000; 
  }
  