/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden; /* Remove horizontal scrollbar */
}

.background-video {
  position: fixed; /* Use fixed position to cover entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-container {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
